本文中主要介绍的是如何来美化Pandas的DataFrame的数据。主要是通过Pandas中的两个方法来实现：

    Styler.applymap：逐个元素，返回带有CSS属性-值对的单个字符串
    Styler.apply：列、表、行的方式，返回具有相同形状的Series或者DataFrame，其中每个值都是带有CSS属性值对的字符串。该方法在作用的时候，通过参数axis来传递，axis=0表示按列作用，axis=1表示按行作用。

官网学习地址：

    https://pandas.pydata.org/pandas-docs/version/1.1.5/user_guide/style.html#Export-to-Excel
    https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html

## 准备数据

In [1]:
import pandas as pd
import numpy as np

# 设置随机种子，保证每次运行结果相同
np.random.seed(20)

# 模拟数据
df = pd.DataFrame(np.random.randn(6,4), columns=list("ABCD"))

# numpy中的linspace(start,stop,setp)：表示按照步长取数，包含头尾的数据
df.A = np.linspace(1, 6, 6)
df

     A         B         C         D
0  1.0  0.195865  0.357537 -2.343262
1  2.0  0.559696  0.939469 -0.978481
2  3.0  0.406414  0.323461 -0.493411
3  4.0 -0.842368 -1.279503  0.245715
4  5.0  1.567633  1.051109  0.406368
5  6.0 -3.189703  1.120132  1.332778

In [2]:
df.iloc[3,1] = np.nan
df.iloc[0,2] = np.nan
df.iloc[5,3] = np.nan
df

     A         B         C         D
0  1.0  0.195865       NaN -2.343262
1  2.0  0.559696  0.939469 -0.978481
2  3.0  0.406414  0.323461 -0.493411
3  4.0       NaN -1.279503  0.245715
4  5.0  1.567633  1.051109  0.406368
5  6.0 -3.189703  1.120132       NaN

## 查看和隐藏样式

In [3]:
# 查看DataFrame的样式设置
df.style

In [4]:
type(df.style)

pandas.io.formats.style.Styler

In [5]:
# 我们可以通过render方法来查看数据框样式的具体值
df.style.render().split('\n')[:15]

['<style type="text/css">',
 '</style>',
 '<table id="T_6dc05_">',
 '  <thead>',
 '    <tr>',
 '      <th class="blank level0" >&nbsp;</th>',
 '      <th class="col_heading level0 col0" >A</th>',
 '      <th class="col_heading level0 col1" >B</th>',
 '      <th class="col_heading level0 col2" >C</th>',
 '      <th class="col_heading level0 col3" >D</th>',
 '    </tr>',
 '  </thead>',
 '  <tbody>',
 '    <tr>',
 '      <th id="T_6dc05_level0_row0" class="row_heading level0 row0" >0</th>']

### 隐藏索引

In [6]:
# 隐藏index
df.style.hide_index()

### 隐藏指定的列

In [7]:
# 隐藏 A C 两列，使用的是 subset 参数
df.style.hide_columns(subset = list('AC'))

In [11]:
def color_change(val):
    color = 'red' if val < 0 else 'blue'
    return 'color: %s' % color

# 使用applymap并调用写好的函数
df.style.applymap(color_change)