# Pandas 式样

本文中主要介绍如何使用 Pandas 的式样来展示 DataFrame 。主要是通过两个方法来实现：

1. `Styler.applymap` ：逐个元素，返回带有CSS属性-值对的单个字符串
1. `Styler.apply` ：列、表、行的方式，返回具有相同形状的Series或者DataFrame，其中每个值都是带有CSS属性值对的字符串。该方法在作用的时候，通过参数axis来传递，axis=0表示按列作用，axis=1表示按行作用。

更多内容详见：https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html

## 准备数据

In [1]:
import pandas as pd
import numpy as np

# 设置随机种子，保证每次运行结果相同
np.random.seed(0)

# 模拟数据
df = pd.DataFrame(np.random.randn(6,4), columns=list("ABCD"))

# numpy中的linspace(start,stop,setp)：表示按照步长取数，包含头尾的数据
df.A = np.linspace(1, 6, 6)
df

     A         B         C         D
0  1.0  0.400157  0.978738  2.240893
1  2.0 -0.977278  0.950088 -0.151357
2  3.0  0.410599  0.144044  1.454274
3  4.0  0.121675  0.443863  0.333674
4  5.0 -0.205158  0.313068 -0.854096
5  6.0  0.653619  0.864436 -0.742165

In [2]:
df.iloc[3,1] = np.nan
df.iloc[0,2] = np.nan
df.iloc[5,3] = np.nan
df

     A         B         C         D
0  1.0  0.400157       NaN  2.240893
1  2.0 -0.977278  0.950088 -0.151357
2  3.0  0.410599  0.144044  1.454274
3  4.0       NaN  0.443863  0.333674
4  5.0 -0.205158  0.313068 -0.854096
5  6.0  0.653619  0.864436       NaN

## 查看和隐藏样式

### 查看DataFrame的样式设置

In [3]:
df.style

In [4]:
type(df.style)

pandas.io.formats.style.Styler

In [5]:
# 我们可以通过render方法来查看数据框样式的具体值
df.style.to_html().split('\n')[:15]

['<style type="text/css">',
 '</style>',
 '<table id="T_0cc61">',
 '  <thead>',
 '    <tr>',
 '      <th class="blank level0" >&nbsp;</th>',
 '      <th id="T_0cc61_level0_col0" class="col_heading level0 col0" >A</th>',
 '      <th id="T_0cc61_level0_col1" class="col_heading level0 col1" >B</th>',
 '      <th id="T_0cc61_level0_col2" class="col_heading level0 col2" >C</th>',
 '      <th id="T_0cc61_level0_col3" class="col_heading level0 col3" >D</th>',
 '    </tr>',
 '  </thead>',
 '  <tbody>',
 '    <tr>',
 '      <th id="T_0cc61_level0_row0" class="row_heading level0 row0" >0</th>']

### 隐藏索引

In [6]:
# 隐藏index
df.style.hide(axis='index')

### 隐藏指定的列

In [7]:
# 隐藏 A C 两列，使用的是 subset 参数
df.style.hide(axis='columns', subset = list('AC'))

In [8]:
def color_change(val):
    color = 'red' if val < 0 else 'blue'
    return 'color: %s' % color

# 使用applymap并调用写好的函数
df.style.applymap(color_change)

## 高亮显示数据

### 自定义高亮函数

In [9]:
# 可以高亮显示最大、最小和缺失值。
# 手写一个简单的高亮函数：

def highlight_min(x):
    is_min = x == x.min()
    return ["background-color: yellow" if v else '' for v in is_min]
df.style.apply(highlight_min)

### 使用默认高亮函数

Pandas中已经默认写好了内置的3个高亮函数：

- highlight_max(): 最大
- highlight_min(): 最小
- highlight_null(): 空值
- highlight_between(): 界于

同时我们还可以搭配参数axis来显示行或者列

In [10]:
df.style.highlight_max()

In [11]:
# 高亮ACD行中每一行的最大值，颜色为绿色
df.style.highlight_max(
    subset=list('ACD'),
    color='green',
    axis=1
)

In [12]:
df.style.highlight_between(left=0.1, right=1.0)

In [13]:
df.style.highlight_null()

### 链式调用

In [14]:
df.style.\
applymap(color_change).\
apply(highlight_min)