# 【Python茴香豆系列】之 PANDAS 获取 DataFrame 的行数
用 Python 编程，使用不同的方法来完成同一个目标，有时候是一件很有意思的事情。这让我想起鲁迅笔下的孔乙己。孔乙己对于茴香豆的茴字的四种写法颇有研究。我不敢自比孔乙己，这里搜集一些 Python 的茴香豆，以飨各位码农。

首先准备一个函数，用来生成用于测试的 DataFrame 。这个 DataFrame 有 3 列，名称分别为 a 、 b 和 c 。

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'a':[None,2,3], 'b':[4,5,6], 'c':[7,8,9]})
df

     a  b  c
0  NaN  4  7
1  2.0  5  8
2  3.0  6  9

In [2]:
len(df)

3

In [3]:
df.shape
# 获取行数和列数

(3, 3)

In [4]:
len(df.index)

3

In [5]:
df.index.size

3

In [6]:
len(df)

3

In [7]:
df.size

9

In [8]:
len(df.axes[0])

3

In [9]:
df.count()

a    2
b    3
c    3
dtype: int64

In [10]:
df.a.count()

2

In [11]:
df['aa'] = 1
sum(df['aa'])

3

In [12]:
df.pipe(len)

3

In [13]:
timeit len(df)

349 ns ± 10.7 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [14]:
timeit df.index.size

293 ns ± 10.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [15]:
timeit len(df.index)

227 ns ± 1.65 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [16]:
timeit df.a.count()

13.8 µs ± 143 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [17]:
timeit df.shape[0]

618 ns ± 5.3 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [18]:
timeit df.count()[0]

893 µs ± 21 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)